<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
</head>
<body class="page-not-home">
    <h2>Реєстрація</h2>
    <form method="POST">
        <label>Логін:</label>
        <input type="text" name="username" required>
        <label>Пароль:</label>
        <input type="password" name="password" required>
        <button type="submit">Зареєструватися</button>
    </form>
    <a href="{{ url_for('login') }}">Вже є акаунт?</a>
</body>
</html>
